.ol-logo{
	position: absolute;
	top: 6px;
	width: 40px;
	height: 40px;
}

.ol-zoom{
	position: absolute;
	bottom: 35px;
	width: 26px;
	height: 49px;
	right: 25px;
}

.ol-zoom-in span{
	margin-left: -95px;
}

.ol-zoom-out span{
	margin-left: -105px;
}

.ol-attribution{
	display:none;
}


.updater-box{
	position:absolute;
	bottom:-50px;
	left:40%;
	
	border-radius:10px;
	
	opacity:.9;
	
	width:auto;
	padding:10px;
	border:3px solid rgb(100,100,255);
	background:white;
	
	-o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}